PORT=5000
SUPABASE_URL=https://ziouaxzqzofcrrixsxth.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inppb3VheHpxem9mY3JyaXhzeHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjYxNTMsImV4cCI6MjA5MTg0MjE1M30.rcqBWwqVCpBuUiFQXXi2r0-Vd5BykDipsLEUeTb63ZY
